<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MADLIBS</title>
</head>
<body>
    <h1>MADLIBS</h1>
    <form class="madlib-form" action="/response">
        Place:<input type="text" placeholder="place" name="place"><br>
        Noun:<input type="text" placeholder="noun" name="noun"><br>
        Verb:<input type="text" placeholder="verb" name="verb"><br>
        Adjective:<input type="text" placeholder="adjective" name="adj"><br>
        Plural Noun:<input type="text" placeholder="plural noun" name="plural"><br>
        <button class="madlib-form">Let's Go</button>
    </form>
    
</body>
</html>